@import '../../Constants/variables';

.AuthorDetail {
  padding: 5rem;
  color: $lightGrey;
  & h1 {
    color: inherit;
    text-align: left;
    font-size: 3.8rem;
  }
  & p {
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: inherit;
    font-size: 2.8rem;
    line-height: 1.0;
  }
}

a.learnBtn {
  &:link,
  &:visited {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right bottom, rgba($lightBlue, 0.8), rgba($darkBlue, 0.8));
    padding: .75rem 1.5rem;
    display: inline-block;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.8rem;
    box-shadow: 2.5px 2.55px 5px rgba(0,0,0,.9);
    text-shadow: .2rem .2rem .2rem black;
  }
  &:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,.9);
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 2.5px 2.55px 5px rgba(0,0,0,.9);
  }
}
