.NavHeader {
  height: 20vh;
  width: 100%;
  background-color: black;
  border: solid 2.5rem black;
  border-image: url("../../Assets/Images/landingimages/filmstrip.png") 20 round;
  display: flex;
}
