@import '../../Constants/variables';

.AboutSection {
  width: 100%;
  min-height: 60vh;
  border-radius: 1rem;
  background-image: linear-gradient(to right bottom, rgba($lightBlue, 0.5), rgba($darkBlue, 0.5)), url("../../Assets/Images/landingimages/daphdirt.jpg");
  padding: 5rem;
  padding-bottom: 15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  background-size: cover;
  background-position: top;


}
