@import url("https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap");

@import './Constants/variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Neuton", serif;
  font-weight: 400;
  line-height: 1.7;
  color: $lightGrey;
  font-size: 1.6rem;
  background-color: whitesmoke;
  box-sizing: border-box;
  padding-bottom: 10rem;
}
